In [1]:
import time
import pandas as pd
from tqdm import tqdm

from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.support.select import Select

In [26]:
path = Service("/Users/shin/chromedriver")
driver = webdriver.Chrome(service=path) #크롬 브라우저 사용

df = pd.DataFrame()

URL = "https://job.incruit.com/jobdb_list/searchjob.asp?ct=1&ty=1&cd=150&page="
for i in range(1, 210):
    
    driver.get(URL+str(i))
    driver.implicitly_wait(time_to_wait=60)

    div = driver.find_elements(By.CLASS_NAME, "accent")
    for item in div:
        tmp = pd.DataFrame([item.find_element(By.TAG_NAME, "a").get_attribute('href')])
        df = pd.concat([df, tmp])
    time.sleep(1)
    
driver.close()
df

                                                    0
0   https://job.incruit.com/jobdb_list/searchjob.a...
0   https://job.incruit.com/jobdb_list/searchjob.a...
0   https://job.incruit.com/jobdb_list/searchjob.a...
0   https://job.incruit.com/jobdb_list/searchjob.a...
0   https://job.incruit.com/jobdb_info/jobpost.asp...
..                                                ...
0   https://job.incruit.com/jobdb_info/jobpost.asp...
0   https://job.incruit.com/jobdb_info/jobpost.asp...
0   https://job.incruit.com/jobdb_info/jobpost.asp...
0   https://job.incruit.com/jobdb_info/jobpost.asp...
0   https://job.incruit.com/jobdb_info/jobpost.asp...

[12489 rows x 1 columns]

In [29]:
df.drop_duplicates([0]).to_csv("incruit_link.csv")

In [3]:
link_df = pd.read_csv("incruit_link.csv").drop(['Unnamed: 0'], axis=1)
link_df

                                                       0
0      https://job.incruit.com/jobdb_info/jobpost.asp...
1      https://job.incruit.com/jobdb_info/jobpost.asp...
2      https://job.incruit.com/jobdb_info/jobpost.asp...
3      https://job.incruit.com/jobdb_info/jobpost.asp...
4      https://job.incruit.com/jobdb_info/jobpost.asp...
...                                                  ...
12447  https://job.incruit.com/jobdb_info/jobpost.asp...
12448  https://job.incruit.com/jobdb_info/jobpost.asp...
12449  https://job.incruit.com/jobdb_info/jobpost.asp...
12450  https://job.incruit.com/jobdb_info/jobpost.asp...
12451  https://job.incruit.com/jobdb_info/jobpost.asp...

[12452 rows x 1 columns]

In [4]:
from tqdm import tqdm

path = Service("/Users/shin/chromedriver")
driver = webdriver.Chrome(service=path)

df = pd.DataFrame()
for URL in tqdm(link_df['0']):
    
    driver.get(URL)
    driver.implicitly_wait(time_to_wait=60)
    try:
        content = driver.find_element(By.TAG_NAME, "iframe")
        driver.switch_to.frame(content)
        div = driver.find_element(By.ID, "content_job")
        tmp = pd.DataFrame([div.text])
        df = pd.concat([df, tmp])
        time.sleep(0.5)
    except:
        continue
    
driver.close()

df

100%|██████████████████████████████████| 12452/12452 [11:11:50<00:00,  3.24s/it]

                                                    0
0
0   1. 채용인원 및 부문\n□ 채용직급 / 인원 : 일반직 5급 / 28명 * 3개월...
0   행사 개요\n행 사 명 : MZ세대 맞춤형 글로벌 기업 취업특강\n일 정 : 202...
0   모집부문 및 자격요건\n❑ 모집인원 : 0명\n직무\n구분\n전공\n상세직무\n우대...
0   본 입사지원 홈페이지는 크롬에 최적화되어 있으므로, 원활한 입사 지원을 위해 크롬 ...
..                                                ...
0   [직무내용]\n담당업무\nㆍ웹, 모바일 서비스 기획\nㆍ서비스 요구사항 구체화 및 ...
0   [직무내용]\n채용직무 : 앱 · 웹 개발 / 서비스\n- 담당업무 : 앱 · 웹 ...
0   [직무내용]\n(주)바생 사진 & 영상 촬영 및 제작, 편집 정규직 채용합니다.\n...
0   [직무내용]\n[함께 성장하는 회사 디비오피에서 안드로이드 앱 개발자를 모집합니다]...
0   [직무내용]\n[함께 성장하는 회사 디비오피에서 Unity3D 개발자를 모집합니다]...

[12242 rows x 1 columns]

In [11]:
df.to_csv("incruit_crawling_data.csv")

In [18]:
path = Service("/Users/shin/chromedriver")
driver = webdriver.Chrome(service=path) #크롬 브라우저 사용

df = pd.DataFrame()
# 인공지능/빅데이터
URL = "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=632&page="
# 게임
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=535&page="

# 전산/it기술지원
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=400&page="

# 통신 모바일
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=530&page="

# 웹디자인
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=410&page="

# 네트워크/서버/보안
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=390&page="

# 데이터베이스/DBA
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=405&page="

# 시스템 프로그래머
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=579&page="

# 응용프로그래머
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=375&page="

# 웹 프로그래머
# "https://job.incruit.com/jobdb_list/searchjob.asp?occ2=574&page="

for i in range(1, 22):
    
    driver.get(URL+str(i))
    driver.implicitly_wait(time_to_wait=60)
    time.sleep(1)
    div = driver.find_elements(By.CLASS_NAME, "accent")
    for item in div:
        tmp = pd.DataFrame([item.find_element(By.TAG_NAME, "a").get_attribute('href')])
        df = pd.concat([df, tmp])
    
driver.close()

df.drop_duplicates().to_csv("incruit_AI.csv", index=False)

In [22]:
path = Service("/Users/shin/chromedriver")
driver = webdriver.Chrome(service=path)

_class = ["Back-end", "Software", "System", "DataBase", "Network_Security", 
          "Front-End", "Application", "Service", "Game", "AI"]

df = pd.DataFrame(columns=["header", "detail"])

for c in _class:
    name = "incruit_"+ c +".csv"
    df_link = pd.read_csv(name)
    
    for URL in tqdm(df_link['0']):

        driver.get(URL)
        driver.implicitly_wait(time_to_wait=10)
        time.sleep(1)
        try:
            content = driver.find_element(By.TAG_NAME, "iframe")
            driver.switch_to.frame(content)
            
            div = driver.find_element(By.ID, "content_job")
            tmp = pd.DataFrame({"header":[c],
                                "detail":[div.text]})
            df = pd.concat([df, tmp])
            
        except:
            continue
    
driver.close()

df

100%|█████████████████████████████████████| 2192/2192 [1:42:45<00:00,  2.81s/it]
100%|█████████████████████████████████████| 2914/2914 [2:16:59<00:00,  2.82s/it]
100%|█████████████████████████████████████████| 311/311 [14:58<00:00,  2.89s/it]
100%|█████████████████████████████████████████| 908/908 [43:01<00:00,  2.84s/it]
100%|█████████████████████████████████████| 1708/1708 [1:16:58<00:00,  2.70s/it]
100%|█████████████████████████████████████| 1319/1319 [1:03:41<00:00,  2.90s/it]
100%|█████████████████████████████████████| 1489/1489 [1:08:36<00:00,  2.76s/it]
100%|█████████████████████████████████████| 1386/1386 [1:06:29<00:00,  2.88s/it]
100%|█████████████████████████████████████| 1323/1323 [1:04:51<00:00,  2.94s/it]
100%|█████████████████████████████████████| 1224/1224 [1:03:04<00:00,  3.09s/it]

      header                                             detail
0   Back-end
0   Back-end
0   Back-end
0   Back-end  모집분야\n소속 주요업무 필요역량 및 우대사항 채용인원\nHR부\nHR 플랫폼 개발...
0   Back-end
..       ...                                                ...
0         AI  ◈ 추천회사 소개\n- 하나비전테크(주)\n - 홈페이지 주소 : http://ha...
0         AI  KY컨설팅그룹\n스타트업 커머셜 서비스 서버/프론트 개발자 모집\n모집부문 및 자격...
0         AI  KY컨설팅그룹\n애드테크 스타트업 디지털광고플랫폼 개발자 모집\n모집부문 및 자격요...
0         AI  e-러닝 전문교육 기업 - 학습 분석 및 진단검사 기획 경력자 채용 \n모집부문 및...
0         AI  AI 개발 실장(이사)-경력 20년 이상\ne-러닝 전문교육 기업  \n모집부문 및...

[14600 rows x 2 columns]

In [23]:
df.to_csv("renewal_incruit_crawling", index=False)